# Large files and results
results/
src/results/
src/qwen2.5-results/
src/query_embeddings_output/
src/logs/
src/deberta_checkpoints/
outputs/
no_use/
external/xverify/
hs/
probe_save/
wandb/
/visualizations/
src/utils/visualizations/
src/metric_results/
*.jpg
*.csv
*.pt
*.pth
*.bin
*.safetensors
__pycache__/
*.pyc
__MACOSX/
._*
.git.bfg-report/
.spec-workflow/
.vscode/

